@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');
:root{
    --padding-container: 20px 0;
    --color-title: #001A49;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*Barra de Inicio*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 50px;
    width: 200px;
    margin-left: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #000000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #434354;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url() no-repeat; 
}

@media (max-width:952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .logo{
        height: 50px;
        width: 100px;
        margin-left: 0;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #707c87;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
        position: absolute;
        
    }
    
}

/*Para el contenedor de promociones*/
/*Slider Imagenes Promociones*/
.promociones{
    background-color: #fffffff3;
    height: 500px;
}
.position {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slider{
    background-image: url(./../images/promocion1.jpg);
    background-size: cover;
    height: 60%;
    width: 90%;
    border-radius: 10px;
    animation: animate 30s infinite linear;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}
@keyframes animate {
    20%{
        background: url(./../images/promocion1.jpg);
        background-size: cover;
    }
    40%{
        background: url(./../images/promocion2.jpg);
        background-size: cover;
    }
    60%{
        background: url(./../images/promocion2.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(./../images/promocion3.jpg);
        background-size: cover;
    } 
    90%{
        background-image: url(./../images/promocion4.jpg);
        background-size: cover;
    } 
    100%{
        background-image: url(./../images/promocion3.jpg);
        background-size: cover;
    } 
}
@media screen and (max-width:858px) {
    .promociones{
        background-color: #fffffff3;
        height: 300px;

    }
    .position {
        position: relative;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;  
    }
    .slider{
        background: url(./../images/promocion1-telefono.jpg) no-repeat;
        background-size: cover;
        height: 100%;
        width: 350px;
        border-radius: 10px;
        animation: animate 30s infinite linear;
    }
    @keyframes animate {
        25%{
            background: url(./../images/promocion1-telefono.jpg);
            background-size: cover;
        }
        50%{
            background: url(./../images/promocion2-telefono.jpg);
            background-size: cover;
        }
        75%{
            background: url(./../images/promocion2-telefono.jpg);
            background-size: cover;
        }
        90%{
            background-image: url(./../images/promocion3-telefono.jpg);
            background-size: cover;
        } 
        100%{
            background-image: url(./../images/promocion3-telefono.jpg);
            background-size: cover;
        } 
    }
}
/*@keyframes animate {
    25%{
        background: url(./../images/promocion1.jpg);
        background-size: cover;
    }
    75%{
        background: url(./../images/promocion2.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(./../images/promocion1.jpg);
        background-size: cover;
    } 
}*/
/*Seccion de Planes y Productos*/
.subtitle{
    color: #000000;
}
.price{
    text-align: center;
}
.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}
.price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color_cta: #5454D4;
    --color-items: #696871;
}
.price_element1{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 30PX;
    text-decoration-style: dotted;
    font-size: larger;

}
.price_element--best{
    background-color: #272c52;
    --color-plan:rgb(255 255 255 / 75%);
    --color-price:#fff;
    --bg-cta:#325199;
    --color-cta: #fff;
    --color-items:#fff;
}
.price_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.price_price{
    font-size: 2.5rem;
    color: var(--color-price);
}
.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size:1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgb(0, 0, 0, .5);
}
.price_cta1{
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 800;
    color: var(--color-cta);
    font-size: 30px;
}

@media screen and (max-width:858px) {
    .price{
        text-align: center;
        padding-top: 50PX;
    }
    .price_cta1{
        font-size: 20px;
    }
}

@media screen and (min-width:1600px) {
    .price{
        text-align: center;
        padding-top: 150PX;
    }
}

/*equipos */
.equipos{
    height: 600px;
    padding: 50px;
}
.infoequipos{
    text-align: center;
}
.imagenservicios{
    width: 750px;
    height: 450px;
    text-align: center;
}
@media screen and (max-width:858px) {
    .equipos{
        height: 600px;
        padding: 50px;
    }
    .imagenservicios{
        width: 300px;
        height: 350px;
        text-align: center;
    }
}

/*nuestros servicios*/
.nuestrosservicios{
    height: 440px;
    background-color: #1D293F;
}
.nuestrosservicios_table{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}
.nuestrosservicios_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color_cta: #5454D4;
    --color-items: #696871;
}
.nuestrosservicios_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.nuestrosservicios_price{
    font-size: 2.5rem;
    color: var(--color-price);
}
@media screen and (max-width:858px) {
    .nuestrosservicios{
        height: 1150px;
    }
}
/*Mapa*/
.mapa{
    padding-top: 100px;
    height: 650px;
}
/*Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.box{
    text-align: justify;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1  .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1  .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1  .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1  .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition:all 300ms ease;
}
.pie-pagina .grupo-1  .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}
/*Link de wssp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #FFF;
    background-color:#1ab152;
    animation: shake 1s;
    animation-iteration-count: infinite;
}
.my-float{
	margin-top:16px;
}
.pulse{
    animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation{
    0%{
        box-shadow: 0 0 0 0px #25d3604d rgba(0, 0, 0, 0.2);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
/*Sobre Nosotros*/
.section{
    background-color: #999;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 50%;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, .5);
}
.section img{
    width: 200px;
    border-radius: 30px;
}